/* Estilos para telas pequenas, como smartphones */
html {
    scroll-behavior: smooth;
}

/* Configurações básicas */
body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    background-image: url(/fotos/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #a9a6a6;
    transform: translateX(-50%);
  }

/* Estilo e posição do logo */
.mini-logo {
    position: absolute;
    top: 20px; 
    right: 20px;  
    width: 50px; 
    height: auto; 
}
/* Tornar o navbar transparente */
.custom-navbar {
    background-color: transparent; /* Remove o fundo */
    border: none; /* Remove qualquer borda */
    z-index: 1000; /* Certifique-se de que o navbar fique acima do conteúdo */
    position: absolute; /* Deixa o navbar sobreposto ao conteúdo */
    width: 100%; /* Ocupa toda a largura */
}

.custom-navbar .nav-link {
    color: white; /* Cor dos links no navbar para garantir visibilidade */
    font-size: 1.1em;
    font-weight: bold;
}

.custom-navbar .nav-link:hover {
    color: #ccc; /* Cor dos links ao passar o mouse */
}

.custom-navbar .navbar-toggler {
    border-color: white; /* Cor do ícone de menu no modo mobile */
}


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 999; 
    display: none; 
  }
  
.content-section {
    padding: 20px;
    background-color: white;
    position: fixed; /* Fixa a seção na tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Ocupe a altura total */
    z-index: 1000; /* Certifique-se de que ela fique acima do conteúdo */
    overflow-y: auto; /* Habilita rolagem se o conteúdo for maior que a tela */
    display: none; /* Começa escondida */
  }
  

.cabecalho {
    width: 100%;
    height: 100px; /* Defina a altura que desejar */
    background-color: transparent; /* ou defina uma cor se necessário */
    font-family: 'NanumMyeongjo';
}

.titulo {
    position: absolute;
    top: 20px; /* Ajuste a distância do topo da página */
    right: 20px; /* Ajuste a distância da borda direita */
    margin-bottom: 50px; /* Aumente esse valor para aumentar o espaçamento */
    font-size: 36px; /* Ajuste o tamanho da fonte conforme necessário */
    color: white;
}

.title{
    color: white;
}

/* Contêiner principal */
.conteiner-principal {
    height: 80vh;
}

.pesquisa { 
    max-width: 60%;
    padding: 10px 10px 10px 10px;
}

/* Estilo do campo de detalhamento */
.campo-detalhamento {
    width: auto; /* Largura ajustável */
    min-width: 400px; /* Largura mínima */
    padding: 8px; /* Espaço interno */
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
    border: 1px solid #ccc; /* Borda */
    border-radius: 4px; /* Bordas arredondadas */
    overflow: hidden; /* Oculta rolagem interna */
    resize: none; /* Desativa a redimensionamento manual */
    transition: height 0.3s ease; /* Transição suave para expansão vertical */
}

/* Estilo dos botões de seleção */
.botao-selecao {
    padding: 20px;  
    width: 150px;   
    height: 95px;  
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    margin: 10px;  
}

.botao-selecao:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Estilo das imagens dentro dos botões */
.icon {
    width: 40px; 
    height: 40px;
}

/* Estilo do botão "Gerar" */
.botao-gerar {
    background-color: #9a55e5;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-gerar:hover {
    background-color: #8a45d5;
}


/* Estilo para a área de saída de texto */
.output-area {
    width: 80%; /* Ajuste a largura conforme necessário */
    min-height: 200px; /* Defina uma altura mínima */
    background-color: #f8f9fa; /* Fundo claro para contraste */
    padding: 15px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda leve */
    border-radius: 8px; /* Bordas arredondadas */
    margin: 20px auto; /* Centralizar e adicionar espaçamento */
    overflow-y: auto; /* Adicionar rolagem se o conteúdo exceder a altura */
    font-family: "Plus Jakarta Sans", sans-serif; /* Usar a mesma fonte */
    color: #333; /* Cor do texto */
    word-wrap: break-word; /* Quebra de linha automática para não transbordar */
}



/* Estilo do rodapé */
.rodape {
    font-size: 0.8em;
}


/*FORMULARIO ESTILIZAÇÃO */

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 50px auto;
}
  
.form-title {
    text-align: center;
    margin-bottom: 20px;
}
  
.form-group {
    margin-bottom: 20px; /* Espaçamento entre os campos do formulário */
}


button.btn-primary {
    display: block;
    width: 50%; /* Ajuste a largura do botão conforme o necessário */
    margin: 0 auto; /* Centralizar o botão horizontalmente */
    padding: 10px; /* Ajustar o padding */
    font-size: 16px; /* Tamanho da fonte */
    text-align: center; /* Centralizar o texto dentro do botão */
}  
  




.sobre-header {
    position: relative;
    background-image: url('/fotos/background2.png'); /* Imagem de fundo */
    background-size: cover;
    background-position: center;
    height: 85vh;
    color: white;
    font-family: "Raleway", system-ui;
}

.overlay {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 50%;
    background: rgba(0, 0, 0, 0.5); /* Fundo escuro para dar contraste */
    padding: 20px;
    border-radius: 8px;
}

.main-title {
    font-size: 2.5em;
    font-weight: bold;
    line-height: 1.2;
    font-family: "Spectral SC", serif;
}

.subtitle {
    font-size: 1.2em;
    margin-top: 10px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

.robot-image {
    position: absolute;
    right: 5%;
    bottom: 0;
    max-width: 35%; /* Ajustar o tamanho da imagem */
}

.autor {
    position: absolute;
    bottom: 10px;
    right: 5%;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

/* Seção de descrição das funcionalidades */
.ferramenta {
    padding: 50px 20px;
    background-color: white;
}

.ferramenta h2 {
    font-size: 2.2em;
    color: #5B0EA8;
    margin-bottom: 20px;
    font-family: "Raleway", system-ui;
    font-weight: 500;
}

.subtitulo {
    font-size: 1.2em;
    color: #5B0EA8;
    margin-bottom: 40px;
    font-family: "Raleway", system-ui;
    font-weight: 500;
}

.ferramenta .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ferramenta .col-md-4 {
    margin-bottom: 30px;
    text-align: center;
    font-weight: 500;
    font-family: "Raleway", system-ui;
    font-size: 1.1em;
}

.ferramenta h3 {
    font-size: 1.4em;
    color: #5B0EA8;
    font-weight: bold;
    margin-bottom: 10px;
}

.ferramenta p {
    font-size: 1em;
    color: #26004C;
    font-family: Raleway;
}


.star-icon {
    color: #7a00e6;
    font-size: 1.5em;
    margin-right: 5px;
}

/* Quebra de linha forçada */
.w-100 {
    flex-basis: 100%;
    height: 0;
}

a.btn-primary {
    background-color: #7a00e6;
    border-color: #7a00e6;
    padding: 12px 30px;
    font-size: 1.1em;
    border-radius: 5px;
}

.adaptavel-text {
    font-size: 1em;
    color: #7a00e6;
    margin-top: 10px;
}


/* Login */

/* Desabilitar scroll apenas na página com o id #about-page */
#pagina-login {
    overflow: hidden;
    height: 100%;
}

.logo-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.logo {
    height: 50px; 
}

.container-fluid {
    height: 100vh;

}

.image-container {
    position: relative;
    background-image: url('/fotos/foto-login.png'); 
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    height: 100%;
    width: 50%;
}

.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta com 50% de opacidade */
    z-index: 1;
}

.text-container {
    position: relative;
    z-index: 2; /* Texto fique acima da sobreposição */
    max-width: 70%;
}

.text-container h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #BE94F3;
}

.text-container p {
    font-size: 24px;
    color: #BE94F3;
}

.form-container {
    background-color: #f7f7f7;
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Estilização dos inputs */
.login-container .form-control {
    padding: 10px;
    border-radius: 5px;
    background-color: #E9D7F9; /* Cor de fundo dos inputs */
    border: 1px solid black; /* Cor da borda dos inputs */
    margin-bottom: 20px; /* Espaçamento entre os inputs */
}

/* Estilização do link "Esqueci a senha" */
.forgot-password {
    display: block;
    margin-bottom: 20px; /* Espaçamento abaixo do link */
    color: #8B7A7A; /* Cor do link */
    text-decoration: none;
}


/* Estilização do botão */
.login-container .btn-primary {
    width: 100%;
    background-color: #C592F5; /* Cor de fundo do botão */
    border-color: #7B0AE6; /* Cor da borda do botão */
    color: black; /* Cor do texto */
    border-width: 2px; /* Largura da borda */
}

.login-container .btn-primary:hover {
    background-color: #1e88e5; /* Cor do fundo ao passar o mouse */
    border-color: #1e88e5; /* Cor da borda ao passar o mouse */
}

/* Borda adicional colorida ao redor do botão */
.login-container .btn-primary::after {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid #ffca28; /* Cor da borda externa */
    border-radius: 5px;
    z-index: -1; /* Coloca a borda atrás do botão */
}
